div{
  background-color: #223847;
  padding: 6% 0;
  margin: 4% 0;
  overflow: hidden;
  box-shadow: 4px 4px 5px #222;
}

form{
  margin-top: 3%;
}

input{
  width: 17%;
  padding: 12px 0px 12px 0px;
  margin-top: 1%;
  border: none;
  transition: 0.2s;
}

input:hover {
  box-shadow: 0px 0px 8px #222;
  transition: 0.1s;
}
